autopep8==1.4.4
bokeh==1.2.0
hvplot==0.4.0
jupyter==1.0.0
jupyterlab==0.35.6
matplotlib==3.1.0
numpy==1.16.4
openpyxl==2.6.2      # read/write excel files
pandas==0.24.2
prettypandas==0.0.4
pur==5.2.2           # update package versions; from cli pur -i -r requirements.txt
quandl==3.4.8        # requires API key from provider and in ENV VAR
seaborn==0.9.0
tabulate==0.8.3
TA-Lib==0.4.17       # financial technical analysis tools:  https://github.com/mrjbq7/ta-lib

